:root {
    --color-bg: #F7F8FA;
    --color-surface: #FFFFFF;
    --color-text: #3A3A3A;
    --color-text-secondary: #6C6C6C;
    --color-border: #E0E0E0;
  
    --color-primary: #3D5AFE;
    --color-secondary: #FF6F61;
    --color-success: #00C48C;
    --color-warning: #FFA000;
    --color-error: #D32F2F;
  
    --color-highlight: #FFEB3B;
    --color-muted-blue: #E3F2FD;
    --color-muted-pink: #FCE4EC;
  
    /* Dark Theme */
    --color-bg-dark: #121212;
    --color-surface-dark: #1E1E1E;
    --color-text-dark: #E0E0E0;
    --color-border-dark: #333333;

    /* transition */
    --transition: .2s;
  }
  